@import '../../static/css/virables.scss';
.common-button{
    background: $baseColor;
    display: block;
    width: 80%;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    margin: 0.4rem auto;
    outline: none;
    border: none;
    border-radius: 0.8rem;
}