header{
    line-height: .9rem;
    height: .9rem;
    text-align: center;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #eee;
    .icon-left-arrow{
        position: absolute;
        left: 0;
        height: 100%;
        padding: 0 0.2rem;
    }
}